node-red/node-red_flow.json
[
    {
        "id": "5ac076f7.807208",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43b7df1b.991e9",
        "type": "tab",
        "label": "State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e2121ed.3798e",
        "type": "tab",
        "label": "History",
        "disabled": false,
        "info": ""
    },
    {
        "id": "46d4aaf3.b99c74",
        "type": "tab",
        "label": "Registration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a5089a.03c5078",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c5d82cfa.fe327",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Data",
        "icon": "fa-thermometer-quarter",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fdad0cfd.dd9c2",
        "type": "ui_group",
        "z": "",
        "name": "Sensor",
        "tab": "c5d82cfa.fe327",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "43ae93e4.3fd91c",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor 1 History",
        "icon": "fa-history",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5721af64.a940a",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "43ae93e4.3fd91c",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "b3856cd7.10f3d",
        "type": "ui_tab",
        "z": "",
        "name": "Current State",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72652ac0.352764",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "b3856cd7.10f3d",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7b78e94a.1a2538",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "227efcda.684ce4",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor 2 History",
        "icon": "fa-history",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b369f7e.7266608",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor 3 History",
        "icon": "fa-history",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3012c9a.0738036",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "227efcda.684ce4",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "9784e13b.d623a",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "b369f7e.7266608",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "e25b1847.942268",
        "type": "function",
        "z": "5ac076f7.807208",
        "name": "Body / Headers",
        "func": "temp = msg.payload.d.ambientTemp;\n\nvar date = new Date();\nvar options = { timeZone: 'Europe/Istanbul', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };\nvar time = date.toLocaleDateString('tr-TR', options);\n\n\nmsg.payload = {'username':'user2','channel':'channel1', 'smartcontract':'cc', 'args': {'sensorID':'1', 'temp':temp,'time':time} };\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "b43b9b0b.3d5f18"
            ]
        ]
    },
    {
        "id": "d3185686.794058",
        "type": "debug",
        "z": "5ac076f7.807208",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "b43b9b0b.3d5f18",
        "type": "http request",
        "z": "5ac076f7.807208",
        "name": "Add Temperature HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/addTemp",
        "tls": "",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "d3185686.794058",
                "df0f172d.f12478"
            ]
        ]
    },
    {
        "id": "45e52046.47d7c",
        "type": "http request",
        "z": "46d4aaf3.b99c74",
        "name": "Enroll Admin HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/enrollAdmin",
        "tls": "",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "7f3569f0.b583c8"
            ]
        ]
    },
    {
        "id": "941118cc.0ba5d8",
        "type": "function",
        "z": "46d4aaf3.b99c74",
        "name": "Body / Headers",
        "func": "msg.payload = {\"adminName\": \"admin\", \"password\":\"adminpw\"};\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "45e52046.47d7c"
            ]
        ]
    },
    {
        "id": "d5836209.18e15",
        "type": "inject",
        "z": "46d4aaf3.b99c74",
        "name": "POST",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "941118cc.0ba5d8"
            ]
        ]
    },
    {
        "id": "7f3569f0.b583c8",
        "type": "debug",
        "z": "46d4aaf3.b99c74",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "3acc07f2.13e4f8",
        "type": "http request",
        "z": "46d4aaf3.b99c74",
        "name": "Register User HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/registerUser",
        "tls": "",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "21d4d936.75b1c6"
            ]
        ]
    },
    {
        "id": "21f234c8.f4fe3c",
        "type": "function",
        "z": "46d4aaf3.b99c74",
        "name": "Body / Headers",
        "func": "msg.payload = {\"adminName\": \"admin\", \"username\":\"user2\"};\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "3acc07f2.13e4f8"
            ]
        ]
    },
    {
        "id": "9aed7304.0bade",
        "type": "inject",
        "z": "46d4aaf3.b99c74",
        "name": "POST",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "21f234c8.f4fe3c"
            ]
        ]
    },
    {
        "id": "21d4d936.75b1c6",
        "type": "debug",
        "z": "46d4aaf3.b99c74",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "d3864ad1.abf498",
        "type": "http request",
        "z": "46d4aaf3.b99c74",
        "name": "Register Sensor HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/registerSensor",
        "tls": "",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "c176dcb0.2b8e5"
            ]
        ]
    },
    {
        "id": "1e11e3d9.68005c",
        "type": "function",
        "z": "46d4aaf3.b99c74",
        "name": "Body / Headers",
        "func": "msg.payload = {\"username\": \"user2\", \"channel\":\"channel1\", \"smartcontract\":\"cc\", \"args\":{\"sensorID\": \"1\"} }\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "d3864ad1.abf498"
            ]
        ]
    },
    {
        "id": "8891f68a.83e098",
        "type": "inject",
        "z": "46d4aaf3.b99c74",
        "name": "POST",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "1e11e3d9.68005c"
            ]
        ]
    },
    {
        "id": "c176dcb0.2b8e5",
        "type": "debug",
        "z": "46d4aaf3.b99c74",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "df0f172d.f12478",
        "type": "ui_toast",
        "z": "5ac076f7.807208",
        "position": "top right",
        "displayTime": "1",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Success",
        "name": "Notification",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "a1ff9f7f.6ab84",
        "type": "comment",
        "z": "5ac076f7.807208",
        "name": "Sensor 1",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "499d866f.90c548",
        "type": "data-generator",
        "z": "5ac076f7.807208",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "text",
        "template": "{\"d\":{\"ambientTemp\": \"{{float 20 22 '0.00'}}\" }}",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "c2627303.dc7c8"
            ]
        ]
    },
    {
        "id": "a30bbc5.9b7d24",
        "type": "inject",
        "z": "5ac076f7.807208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "499d866f.90c548"
            ]
        ]
    },
    {
        "id": "c2627303.dc7c8",
        "type": "json",
        "z": "5ac076f7.807208",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "8c416c88.9b3f3",
                "e25b1847.942268"
            ]
        ]
    },
    {
        "id": "8c416c88.9b3f3",
        "type": "ui_gauge",
        "z": "5ac076f7.807208",
        "name": "",
        "group": "fdad0cfd.dd9c2",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Sensor 1",
        "label": "°C",
        "format": "{{msg.payload.d.ambientTemp}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "6908544e.edd18c",
        "type": "function",
        "z": "5ac076f7.807208",
        "name": "Body / Headers",
        "func": "temp = msg.payload.d.ambientTemp;\n\nvar date = new Date();\nvar options = { timeZone: 'Europe/Istanbul', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };\nvar time = date.toLocaleDateString('tr-TR', options);\n\n\nmsg.payload = {'username':'user2','channel':'channel1', 'smartcontract':'cc', 'args': {'sensorID':'2', 'temp':temp,'time':time} };\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "50538bce.0499e4"
            ]
        ]
    },
    {
        "id": "dff1f275.917e2",
        "type": "debug",
        "z": "5ac076f7.807208",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "50538bce.0499e4",
        "type": "http request",
        "z": "5ac076f7.807208",
        "name": "Add Temperature HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/addTemp",
        "tls": "",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "dff1f275.917e2",
                "f0631eff.91dde"
            ]
        ]
    },
    {
        "id": "f0631eff.91dde",
        "type": "ui_toast",
        "z": "5ac076f7.807208",
        "position": "top right",
        "displayTime": "1",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Success",
        "name": "Notification",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "eec755e.aa741a8",
        "type": "data-generator",
        "z": "5ac076f7.807208",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "text",
        "template": "{\"d\":{\"ambientTemp\": \"{{float 20 22 '0.00'}}\" }}",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "7a88ca13.c5e2b4"
            ]
        ]
    },
    {
        "id": "7dc4b307.198b0c",
        "type": "inject",
        "z": "5ac076f7.807208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "eec755e.aa741a8"
            ]
        ]
    },
    {
        "id": "7a88ca13.c5e2b4",
        "type": "json",
        "z": "5ac076f7.807208",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "482a9a9f.8595c4",
                "6908544e.edd18c"
            ]
        ]
    },
    {
        "id": "482a9a9f.8595c4",
        "type": "ui_gauge",
        "z": "5ac076f7.807208",
        "name": "",
        "group": "fdad0cfd.dd9c2",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Sensor 2",
        "label": "°C",
        "format": "{{msg.payload.d.ambientTemp}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "5010bcc6.15d954",
        "type": "comment",
        "z": "5ac076f7.807208",
        "name": "Sensor 2",
        "info": "",
        "x": 100,
        "y": 360,
        "wires": []
    },
    {
        "id": "3634bc5c.e6f754",
        "type": "comment",
        "z": "46d4aaf3.b99c74",
        "name": "Sensor 1",
        "info": "",
        "x": 120,
        "y": 500,
        "wires": []
    },
    {
        "id": "3fa7a6b3.c782ba",
        "type": "comment",
        "z": "46d4aaf3.b99c74",
        "name": "Sensor 2",
        "info": "",
        "x": 120,
        "y": 620,
        "wires": []
    },
    {
        "id": "c425e39b.a9d58",
        "type": "http request",
        "z": "46d4aaf3.b99c74",
        "name": "Register Sensor HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/registerSensor",
        "tls": "",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "47c270cd.c7b8d"
            ]
        ]
    },
    {
        "id": "e20e9a33.373738",
        "type": "function",
        "z": "46d4aaf3.b99c74",
        "name": "Body / Headers",
        "func": "msg.payload = {\"username\": \"user2\", \"channel\":\"channel1\", \"smartcontract\":\"cc\", \"args\":{\"sensorID\": \"2\"} }\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "c425e39b.a9d58"
            ]
        ]
    },
    {
        "id": "c34b47ca.fd0f48",
        "type": "inject",
        "z": "46d4aaf3.b99c74",
        "name": "POST",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "e20e9a33.373738"
            ]
        ]
    },
    {
        "id": "47c270cd.c7b8d",
        "type": "debug",
        "z": "46d4aaf3.b99c74",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "509bf03.fc8ae1",
        "type": "comment",
        "z": "46d4aaf3.b99c74",
        "name": "Sensor 3",
        "info": "",
        "x": 120,
        "y": 740,
        "wires": []
    },
    {
        "id": "4b6fc413.fce5ac",
        "type": "http request",
        "z": "46d4aaf3.b99c74",
        "name": "Register Sensor HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/registerSensor",
        "tls": "",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "6fc50964.d33448"
            ]
        ]
    },
    {
        "id": "54324835.53f5b8",
        "type": "function",
        "z": "46d4aaf3.b99c74",
        "name": "Body / Headers",
        "func": "msg.payload = {\"username\": \"user2\", \"channel\":\"channel1\", \"smartcontract\":\"cc\", \"args\":{\"sensorID\": \"3\"} }\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 780,
        "wires": [
            [
                "4b6fc413.fce5ac"
            ]
        ]
    },
    {
        "id": "89d6532d.8dcb1",
        "type": "inject",
        "z": "46d4aaf3.b99c74",
        "name": "POST",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "54324835.53f5b8"
            ]
        ]
    },
    {
        "id": "6fc50964.d33448",
        "type": "debug",
        "z": "46d4aaf3.b99c74",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 780,
        "wires": []
    },
    {
        "id": "b59df2a7.681a",
        "type": "http request",
        "z": "43b7df1b.991e9",
        "name": "Get History HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/getAllStates",
        "tls": "",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "77b53f5c.639df"
            ]
        ]
    },
    {
        "id": "77b53f5c.639df",
        "type": "json",
        "z": "43b7df1b.991e9",
        "name": "JSON to Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 780,
        "y": 120,
        "wires": [
            [
                "d0534425.277e58",
                "182faf80.7adfd1"
            ]
        ]
    },
    {
        "id": "d0534425.277e58",
        "type": "debug",
        "z": "43b7df1b.991e9",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "182faf80.7adfd1",
        "type": "template",
        "z": "43b7df1b.991e9",
        "name": "Template",
        "field": "style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "ef23e92e.404a18"
            ]
        ]
    },
    {
        "id": "601bcd51.6e6894",
        "type": "function",
        "z": "43b7df1b.991e9",
        "name": "Body / Headers",
        "func": "msg.payload = {'username':'user2','channel':'channel1', 'smartcontract':'cc', \"args\": {\"startID\":\"0\", \"endID\":\"999\"} };\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "b59df2a7.681a"
            ]
        ]
    },
    {
        "id": "ef23e92e.404a18",
        "type": "ui_template",
        "z": "43b7df1b.991e9",
        "group": "72652ac0.352764",
        "name": "Table",
        "order": 1,
        "width": "12",
        "height": "4",
        "format": "<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <thead>\n    <tr>\n      <th scope=\"col\">SensorID</th>\n      <th scope=\"col\">Time</th>\n      <th scope=\"col\">Temperature</th>\n      <th scope=\"col\">Outlier</th>\n      <th scope=\"col\">Stuck-at Fault</th>\n      <th scope=\"col\">SC Fault</th>\n      <th scope=\"col\">Final Temperature</th>\n    </tr>\n  </thead>\n  \n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.Value.sensorID }}</td>\n    <td>{{ obj.Value.time }}</td>\n    <td>{{ obj.Value.temp }}</td>\n    <td>{{ obj.Value.outlier }}</td>\n    <td>{{ obj.Value.stuckatfault }}</td>\n    <td>{{ obj.Value.scfault }}</td>\n    <td>{{ obj.Value.finaltemp }}</td>\n  </tr>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 950,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4a17dd8b.1564c4",
        "type": "ui_button",
        "z": "43b7df1b.991e9",
        "name": "",
        "group": "72652ac0.352764",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Get state",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "601bcd51.6e6894"
            ]
        ]
    },
    {
        "id": "5b22dffc.d250c",
        "type": "http request",
        "z": "8e2121ed.3798e",
        "name": "Get History HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/getHistory",
        "tls": "",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "15c6a80a.d17f38"
            ]
        ]
    },
    {
        "id": "15c6a80a.d17f38",
        "type": "json",
        "z": "8e2121ed.3798e",
        "name": "JSON to Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 780,
        "y": 180,
        "wires": [
            [
                "4cd1fe05.1e8b",
                "69e6ec62.7946f4"
            ]
        ]
    },
    {
        "id": "4cd1fe05.1e8b",
        "type": "debug",
        "z": "8e2121ed.3798e",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "69e6ec62.7946f4",
        "type": "template",
        "z": "8e2121ed.3798e",
        "name": "Template",
        "field": "style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */",
        "x": 780,
        "y": 240,
        "wires": [
            [
                "f0b64752.edc138"
            ]
        ]
    },
    {
        "id": "26299c07.171024",
        "type": "function",
        "z": "8e2121ed.3798e",
        "name": "Body / Headers",
        "func": "msg.payload = {'username':'user2','channel':'channel1', 'smartcontract':'cc', \"args\": {\"sensorID\":\"1\"} };\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "5b22dffc.d250c"
            ]
        ]
    },
    {
        "id": "7ff0cc60.ff4704",
        "type": "ui_button",
        "z": "8e2121ed.3798e",
        "name": "",
        "group": "5721af64.a940a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get History",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "26299c07.171024"
            ]
        ]
    },
    {
        "id": "f0b64752.edc138",
        "type": "ui_template",
        "z": "8e2121ed.3798e",
        "group": "5721af64.a940a",
        "name": "Table",
        "order": 2,
        "width": "20",
        "height": "20",
        "format": "<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <thead>\n    <tr>\n      <th scope=\"col\">TxId</th>\n      <th scope=\"col\">SensorID</th>\n      <th scope=\"col\">Time</th>\n      <th scope=\"col\">Temp</th>\n      <th scope=\"col\">Outlier</th>\n      <th scope=\"col\">Stuck-at Fault</th>\n      <th scope=\"col\">Spatial Correlation Fault</th>\n      <th scope=\"col\">Final Temperature</th>\n    </tr>\n  </thead>\n  \n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.TxId }}</td>\n    <td>{{ obj.Value.sensorID }}</td>\n    <td>{{ obj.Value.time }}</td>\n    <td>{{ obj.Value.temp }}</td>\n    <td>{{ obj.Value.outlier }}</td>\n    <td>{{ obj.Value.stuckatfault }}</td>\n    <td>{{ obj.Value.scfault }}</td>\n    <td>{{ obj.Value.finaltemp }}</td>\n  </tr>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6e1cf14.4725a1",
        "type": "function",
        "z": "5ac076f7.807208",
        "name": "Body / Headers",
        "func": "temp = msg.payload.d.ambientTemp;\n\nvar date = new Date();\nvar options = { timeZone: 'Europe/Istanbul', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };\nvar time = date.toLocaleDateString('tr-TR', options);\n\n\nmsg.payload = {'username':'user2','channel':'channel1', 'smartcontract':'cc', 'args': {'sensorID':'3', 'temp':temp,'time':time} };\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "7681dd09.4984c4"
            ]
        ]
    },
    {
        "id": "f4006804.bb3668",
        "type": "debug",
        "z": "5ac076f7.807208",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 970,
        "y": 720,
        "wires": []
    },
    {
        "id": "7681dd09.4984c4",
        "type": "http request",
        "z": "5ac076f7.807208",
        "name": "Add Temperature HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/addTemp",
        "tls": "",
        "x": 730,
        "y": 720,
        "wires": [
            [
                "f4006804.bb3668",
                "42e2c381.838cdc"
            ]
        ]
    },
    {
        "id": "42e2c381.838cdc",
        "type": "ui_toast",
        "z": "5ac076f7.807208",
        "position": "top right",
        "displayTime": "1",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Success",
        "name": "Notification",
        "x": 990,
        "y": 780,
        "wires": []
    },
    {
        "id": "3efe0215.fb0f6e",
        "type": "data-generator",
        "z": "5ac076f7.807208",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "text",
        "template": "{\"d\":{\"ambientTemp\": \"{{float 20 22 '0.00'}}\" }}",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "89159a24.01e9e8"
            ]
        ]
    },
    {
        "id": "a62eabb4.be7998",
        "type": "inject",
        "z": "5ac076f7.807208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 820,
        "wires": [
            [
                "3efe0215.fb0f6e"
            ]
        ]
    },
    {
        "id": "89159a24.01e9e8",
        "type": "json",
        "z": "5ac076f7.807208",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 460,
        "y": 820,
        "wires": [
            [
                "6fa1f481.c6035c",
                "6e1cf14.4725a1"
            ]
        ]
    },
    {
        "id": "6fa1f481.c6035c",
        "type": "ui_gauge",
        "z": "5ac076f7.807208",
        "name": "",
        "group": "fdad0cfd.dd9c2",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Sensor 3",
        "label": "°C",
        "format": "{{msg.payload.d.ambientTemp}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "812136cf.a93518",
        "type": "comment",
        "z": "5ac076f7.807208",
        "name": "Sensor 3",
        "info": "",
        "x": 100,
        "y": 660,
        "wires": []
    },
    {
        "id": "b919998b.6f2a08",
        "type": "comment",
        "z": "46d4aaf3.b99c74",
        "name": "USER REGISTRATION",
        "info": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "393ab25e.2b1eee",
        "type": "comment",
        "z": "46d4aaf3.b99c74",
        "name": "ADMIN REGISTRATION",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "8383a202.c9ce1",
        "type": "comment",
        "z": "46d4aaf3.b99c74",
        "name": "SENSOR REGISTRATION",
        "info": "",
        "x": 170,
        "y": 440,
        "wires": []
    },
    {
        "id": "429c8958.157988",
        "type": "http request",
        "z": "8e2121ed.3798e",
        "name": "Get History HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/getHistory",
        "tls": "",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "bcc4b9c3.6587e8"
            ]
        ]
    },
    {
        "id": "bcc4b9c3.6587e8",
        "type": "json",
        "z": "8e2121ed.3798e",
        "name": "JSON to Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 780,
        "y": 440,
        "wires": [
            [
                "ea47d028.54f7a",
                "efb5a572.7e1a18"
            ]
        ]
    },
    {
        "id": "ea47d028.54f7a",
        "type": "debug",
        "z": "8e2121ed.3798e",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "efb5a572.7e1a18",
        "type": "template",
        "z": "8e2121ed.3798e",
        "name": "Template",
        "field": "style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "d6d88934.1ad4d8"
            ]
        ]
    },
    {
        "id": "a095dd4b.2ebfc",
        "type": "function",
        "z": "8e2121ed.3798e",
        "name": "Body / Headers",
        "func": "msg.payload = {'username':'user2','channel':'channel1', 'smartcontract':'cc', \"args\": {\"sensorID\":\"2\"} };\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "429c8958.157988"
            ]
        ]
    },
    {
        "id": "d6d88934.1ad4d8",
        "type": "ui_template",
        "z": "8e2121ed.3798e",
        "group": "3012c9a.0738036",
        "name": "Table",
        "order": 2,
        "width": "20",
        "height": "20",
        "format": "<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <thead>\n    <tr>\n      <th scope=\"col\">TxId</th>\n      <th scope=\"col\">SensorID</th>\n      <th scope=\"col\">Time</th>\n      <th scope=\"col\">Temp</th>\n      <th scope=\"col\">Outlier</th>\n      <th scope=\"col\">Stuck-at Fault</th>\n      <th scope=\"col\">Spatial Correlation Fault</th>\n      <th scope=\"col\">Final Temperature</th>\n    </tr>\n  </thead>\n  \n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.TxId }}</td>\n    <td>{{ obj.Value.sensorID }}</td>\n    <td>{{ obj.Value.time }}</td>\n    <td>{{ obj.Value.temp }}</td>\n    <td>{{ obj.Value.outlier }}</td>\n    <td>{{ obj.Value.stuckatfault }}</td>\n    <td>{{ obj.Value.scfault }}</td>\n    <td>{{ obj.Value.finaltemp }}</td>\n  </tr>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 950,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "270958a3.616638",
        "type": "ui_button",
        "z": "8e2121ed.3798e",
        "name": "",
        "group": "3012c9a.0738036",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Get History",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "a095dd4b.2ebfc"
            ]
        ]
    },
    {
        "id": "8ec2d7b4.a0f1e8",
        "type": "http request",
        "z": "8e2121ed.3798e",
        "name": "Get History HTTP Request",
        "method": "POST",
        "ret": "txt",
        "url": "http://rest-api:3000/api/getHistory",
        "tls": "",
        "x": 540,
        "y": 680,
        "wires": [
            [
                "1d8307c2.1e20a8"
            ]
        ]
    },
    {
        "id": "1d8307c2.1e20a8",
        "type": "json",
        "z": "8e2121ed.3798e",
        "name": "JSON to Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "8d85063d.fbbac8",
                "9a319014.d582"
            ]
        ]
    },
    {
        "id": "8d85063d.fbbac8",
        "type": "debug",
        "z": "8e2121ed.3798e",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 680,
        "wires": []
    },
    {
        "id": "9a319014.d582",
        "type": "template",
        "z": "8e2121ed.3798e",
        "name": "Template",
        "field": "style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "f0502842.b9c8c8"
            ]
        ]
    },
    {
        "id": "4b34dcb9.b54df4",
        "type": "function",
        "z": "8e2121ed.3798e",
        "name": "Body / Headers",
        "func": "msg.payload = {'username':'user2','channel':'channel1', 'smartcontract':'cc', \"args\": {\"sensorID\":\"3\"} };\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "8ec2d7b4.a0f1e8"
            ]
        ]
    },
    {
        "id": "f0502842.b9c8c8",
        "type": "ui_template",
        "z": "8e2121ed.3798e",
        "group": "9784e13b.d623a",
        "name": "Table",
        "order": 2,
        "width": "20",
        "height": "20",
        "format": "<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <thead>\n    <tr>\n      <th scope=\"col\">TxId</th>\n      <th scope=\"col\">SensorID</th>\n      <th scope=\"col\">Time</th>\n      <th scope=\"col\">Temp</th>\n      <th scope=\"col\">Outlier</th>\n      <th scope=\"col\">Stuck-at Fault</th>\n      <th scope=\"col\">Spatial Correlation Fault</th>\n      <th scope=\"col\">Final Temperature</th>\n    </tr>\n  </thead>\n  \n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.TxId }}</td>\n    <td>{{ obj.Value.sensorID }}</td>\n    <td>{{ obj.Value.time }}</td>\n    <td>{{ obj.Value.temp }}</td>\n    <td>{{ obj.Value.outlier }}</td>\n    <td>{{ obj.Value.stuckatfault }}</td>\n    <td>{{ obj.Value.scfault }}</td>\n    <td>{{ obj.Value.finaltemp }}</td>\n  </tr>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 950,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "b1213c14.da098",
        "type": "ui_button",
        "z": "8e2121ed.3798e",
        "name": "",
        "group": "9784e13b.d623a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get History",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "4b34dcb9.b54df4"
            ]
        ]
    },
    {
        "id": "fe387096.fe42f",
        "type": "comment",
        "z": "8e2121ed.3798e",
        "name": "Sensor 1",
        "info": "",
        "x": 100,
        "y": 120,
        "wires": []
    },
    {
        "id": "ee626a10.27cd18",
        "type": "comment",
        "z": "8e2121ed.3798e",
        "name": "Sensor 2",
        "info": "",
        "x": 100,
        "y": 380,
        "wires": []
    },
    {
        "id": "2165f8f1.8f1338",
        "type": "comment",
        "z": "8e2121ed.3798e",
        "name": "Sensor 3",
        "info": "",
        "x": 100,
        "y": 620,
        "wires": []
    }
]